<ng-container
  *ngIf="{
        wallet: wallet$ | async,
        chainId: chainId$ | async,
        isConnected: isConnected$ | async
    } as data"
>
  <section>
    <div class="status">
      <dl>
        <dt>Status</dt>
        <dd>{{ data.isConnected ? 'Connected' : 'Disconnected' }}</dd>
        <dt>User wallet</dt>
        <dd>{{ data.wallet || '-' }}</dd>
        <dt>Chain ID</dt>
        <dd>{{ data.chainId || '-' }}</dd>
      </dl>

      <button *ngIf="data.isConnected == false" (click)="connect()">Connect</button>
      <button *ngIf="data.isConnected == true" (click)="disconnect()">Disconnect</button>
      <p><strong>DEMO only ( please, fork this project )</strong><p>
    </div>
  </section>
</ng-container>
